.focus
{
    background-image: url('NewYork.jpg');
    margin: 0% auto;
    color: #07d;
    text-align: center;
    font-size: xx-large;

    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0%;
}

p
{
    background-color: black;
    border-radius: 10px;
}